@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto&display=swap');

/* Icon */

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon img {
  width: 150px;
}

/* Grid */

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
}

.inner p {
  max-width: 800px;
  margin: 0 0 30px 0;
}

.waffles {
  position: fixed;
  right: -10%;
  bottom: -10%;
  z-index: -1;
}

.waffles img:first-child {
  position: absolute;
  right: -0px;
  bottom: -110px;
}

.waffles img:nth-child(2) {
  position: absolute;
  right: -100px;
  bottom: -100px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 80%;
  max-width: 1400px;
}

.item-s {
  display: flex;
  flex-basis: 23%;
}


.item-d {
  display: flex;
  flex-basis: 48%;
}


.item-t {
  display: flex;
  flex-basis: 73%;
}


.item-f {
  display: flex;
  flex-basis: 100%;
}

/* Button */
.button-primary {
  width: 300px;
  background-color: #212121;
  padding: 30px;
  border-radius: 15px;
  color: rgba(255, 255, 255, 1);
  border: none;
  font-size: 1.5rem;
}

.button-primary:hover {
  background-color: #505050;
  cursor: pointer;
}

/* Type */
h1, h2, h3, p, a, button {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 600;
}

p, a {
  font-weight: 400;
}

.title {
  font-size: 4rem;
}

.introduction-text {
  font-size: 1.5rem;
  line-height: 35px;
  letter-spacing: 0.01em;
}

@media only screen and (max-width: 600px) {

  .title {
    font-size: 3rem;
  }

  .introduction-text {
    font-size: 1.2rem;
    line-height: 35px;
    letter-spacing: 0.01em;
  }

  .waffles {
    position: fixed;
    right: -30%;
    bottom: -5%;
  }

  .waffles img {
    width: 350px;
  }

  .waffles img:first-child {
    position: absolute;
    right: -0px;
    bottom: -45px;
  }

  .waffles img:nth-child(2) {
    position: absolute;
    right: -40px;
    bottom: -40px;
  }

  /* Button */
  .button-primary {
    width: 100%;
    background-color: #212121;
    padding: 10px;
    border-radius: 15px;
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 320px) {
  .title {
    font-size: 2.5rem;
  }

  .introduction-text {
    font-size: 1rem;
    line-height: 30px;
    letter-spacing: 0.01em;
  }

  .waffles img {
    width: 250px;
  }
}