@import url('https://fonts.googleapis.com/css?family=Bevan|Roboto&display=swap');

/* Grid */

.inner {
  display:flex;
  justify-content:center;
  align-items:center;
  align-content:center;
  width:100%;
}

.flex {
  display:flex;
  justify-content:space-between;
  align-content:flex-start;
  max-width:75%;
}

.item-s {
  flex-basis:23%;
}


.item-d {
  flex-basis:48%;
}


.item-t {
  flex-basis:73%;
}


.item-f {
  flex-basis:100%;
}

/* Type */

h1, h2, h3, p, a {
  font-family:'Roboto', sans-serif;
}

p, a {
  font-weight:400;
}

.title {
  font-weight:700;
  font-family:'Bevan', cursive;
}
